<div class="footer">
	<div class="signature">Made with <a href="https://hexo.io">Hexo</a></div>
	<div class="links">
		<div class="link">
			<a href="javascript:;" onclick="toggleModal()"
				><i class="fas fa-share-alt"></i
			></a>
			<div class="modal hidden" id="share">
				<div class="modal-container">
					<div class="modal-header">
						<div class="modal-title">Share</div>
						<div class="modal-close" onclick="toggleModal()">
							<i class="fas fa-times"></i>
						</div>
					</div>
					<div class="modal-content">
						<% if(page.permalink) { %>
						<input
							type="text"
							id="share-link"
							value="<%- page.permalink %>"
						/>
						<% } else { %>
						<input
							type="text"
							id="share-link"
							value="<%- config.url %>"
						/>
						<% } %>
						<button onclick="copylink()">
							<i class="fa fa-clone"></i>
						</button>
					</div>
				</div>
			</div>
		</div>
		<div class="link">
			<a href="<%- theme.links.gitlab %>"
				><i class="fab fa-gitlab"></i
			></a>
		</div>
		<div class="link">
			<a href="<%- config.root %><%- config.feed.path %>"
				><i class="fas fa-rss"></i
			></a>
		</div>
	</div>
</div>
