<div class="header">
	<div class="title"><a href="<%= config.root %>"><%= config.title %></a></div>
	<div class="lightswitch">
		<div onclick="setLightMode(true, true)" id="darkBtn"><i class="fas fa-moon"></i></div>
		<div onclick="setLightMode(false, true)" id="lightBtn"><i class="fas fa-sun"></i></div>
	</div>
	<nav>
		<div class="nav">
			<% for (name in theme.menu) { 
				if (theme.menu[name]) { %>
					<a href="<%- url_for(theme.menu[name]) %>" class="navlink"><%- name %></a>
			<% }} %>
		</div>
	</nav>
</div>
