<div class="pagination-bar">
    <% if (page.prev) { %>
      <a class="pagination-arrow" href="<%- url_for(page.prev_link) %>"><i class="fas fa-chevron-left"></i></a>
    <% } else { %>
      <a class="pagination-arrow disabled" href="<%- url_for(page.prev_link) %>"><i class="fas fa-chevron-left"></i></a>
    <% } %>
    
    <span class="pagination-page"><%- page.current %></span>
    
    
    <% if (page.next) { %>
      <a class="pagination-arrow" href="<%- url_for(page.next_link) %>"><i class="fas fa-chevron-right"></i></a>
    <% } else { %>
      <a class="pagination-arrow disabled" href="<%- url_for(page.next_link) %>"><i class="fas fa-chevron-right"></i></a>
    <% } %>
</div>
