<div class="page-title">All Posts</div>

<% page.posts.each((post) => { %>
<div class="post">
	<div class="post-link">
		<a href="<%- url_for(post.path) %>"><%- post.title %></a> - <%- post.description %>
	</div>
	<div class="post-date">
		- <%- date(page.date, 'DD MMM, YYYY') %>
	</div>
</div>
<% }) %> <%- partial('partial/pagination', {type: 'page'}) %>
