<% site.posts.sort('date', 'desc').limit(config.per_page).forEach((post) => { %>
	<div class="post">
		<div class="post-link">
			<a href="<%- url_for(post.path) %>"><%- post.title %></a> - <%- post.description %>
		</div>
		<div class="post-date">
			- <%- date(page.date, 'DD MMM, YYYY') %>
		</div>
	</div>
<% }) %>
	