<!DOCTYPE html>
<html lang="<%= config.language %>">
	<head>
		<!-- META -->
		<meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />

		<meta name="author" content="<%= config.author %>" />
		<meta name="keywords" content="<%= config.keywords %>" />

        <!-- FAVICON -->
		<link rel="shortcut icon" href="images/favicon/favicon.ico" type="image/x-icon">
		<link rel="icon" href="images/favicon/favicon.ico" type="image/x-icon">
        <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon/favicon-16x16.png">
        <link rel="apple-touch-icon" sizes="180x180" href="/images/favicon/apple-touch-icon.png">
        <link rel="manifest" href="/images/favicon/site.webmanifest">

        <!-- CSS -->
		<%- css("css/normalize.css") %>
		<%- css("css/main.css") %> 
		<%- css("css/fontawesome.css") %>
		<%- css("css/fonts.css") %>
		<link rel="stylesheet" href="/css/hljs/atom-one-dark.css" id="hljs_theme">

		<!-- TITLE -->
        <title><%= config.title %></title>

	</head>
	<body class="dark">
		<%- partial('partial/header') %> 
		
		<div class="content">
			<%- body %>
		</div>

		<%- partial('partial/footer') %>
		<%- js('js/lightswitch.js') %>
		<%- js('js/share.js') %>
	</body>
</html>
