<article>
	<div class="page-title"><%- page.title %></div>
	<div class="page-content">
		<%- page.content %>
	</div>
	<div class="page-tags"><%- list_tags(page.tags, {class: 'tag', show_count: false, style: false}) %> — <%- date(page.date, 'DD MMM, YYYY') %></div>
</article>
