<div class="page-title">Posts Related to — <%- page.tag %></div>
<% page.posts.each((item) => { %>
<article>
	<div class="row">
		<div class="post">
			<a href="<%- url_for(item.path) %>"><%- item.title %></a> - <%- item.description %>
		</div>
		<div class="date">
			<p>- <%- date(page.date, 'DD MMM, YYYY') %></p>
		</div>
	</div>
</article>
<% }); %>
