<div class="page-title">All Tags</div>

<% site.tags.sort('name').map((tag) => { %>
    <div class="tag">
        <% if(tag.posts.length == 1) { %>
            <a href="<%= url_for(tag.path) %>" class="tag-text"><%= tag.name %></a> - <%= tag.posts.length %> Post
        <% } else { %>
            <a href="<%= url_for(tag.path) %>" class="tag-text"><%= tag.name %></a> - <%= tag.posts.length %> Posts
        <% } %>
    </div>
<% }) %>
