@font-face {
    font-family: "Open Sans";
    src: url('/webfonts/OpenSans-VariableFont_wdth,wght.ttf') format("truetype");
}

@font-face {
    font-family: "Montserrat";
    src: url('/webfonts/Montserrat-Regular.ttf') format("truetype");
}