:root {
    --white: #ffffff;
    --black: #121212;
    --gray: #858585;
}

body {
    width: 75vw;
    margin: 15px auto;
    font-family: "Open Sans", sans-serif;
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 800px) {
    body {
        width: unset;
        margin: 10px 10px;
    }
}

.dark {
    --background-color: var(--black);
    --text-color: var(--white);
    background-color: var(--background-color);
    color: var(--text-color);
}

.light {
    --background-color: var(--white);
    --text-color: var(--black);
    background-color: var(--background-color);
    color: var(--text-color);
}

.transition {
    transition: all .5s;
}


.title, h1, h2, h3, h4, h5, h6 {
    font-family: Montserrat, monospace;
}

a {
    padding: 1px;
    margin: auto;
    text-decoration: none;
    color: var(--text-color);
    position: relative;
    transition: all .3s;
    z-index: 1;

    &:hover {
        color: var(--background-color);

        &:after {
            left: 0;
            height: 100%;
        }    
    }

    &:after {
        content: '';
        height: 2px;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: var(--text-color);
        transition: all .3s;
        transform-origin: bottom center;
        z-index: -1;
    }

    &.disabled {
        pointer-events: none;
        
        &:after {
            background-color: var(--background-color);
        }
    }
} 

blockquote {
    border-left: solid var(--text-color) 5px;
    margin-left: 0;
    padding-left: 20px;
}

.post {
    margin: 10px 0;
    
    .post-date {
        margin-top: 5px;
    }
}

table, th, td {
    padding: 8px;
    border: 1px var(--text-color) solid;
    border-collapse: collapse;
}

.title {
    float:left;
    font-size: 30px;
    font-weight: bold;
}

.lightswitch {
    float: right;
    font-size: 25px;
    cursor: default;
}

.nav {
    clear: both;
    padding-top: 20px;
}

.hidden {
    visibility: hidden;
}

.navlink {
    margin-right: 10px;
}

.active {
    background-color: var(--text-color);
    color: var(--background-color);
}

.pagination-bar {
    margin-top: 20px;
    .pagination-arrow {
        padding: 0 2px;
    }
    .pagination-page {
        padding: 0 2px;
    }
}



.header {
    border-bottom: solid 2px var(--gray);
    padding-bottom: 15px;
    margin-bottom: 15px;
}

.footer {
    border-top: solid 2px var(--gray);
    margin-top: 15px;
    padding: 15px 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    
}

.link {
    float: left;
    margin: 0 5px;
    a {
        padding: 0 2px;
    }
}

.tag {
    margin: 10px 0;
}

.content {
    display: flex;
    flex-direction: column;
}

.page-title {
    margin-bottom: 20px;
    font-size: 25px;
}

.modal {
    display: flex;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
    align-items: center;
    justify-content: center;
    
}

.modal-container {
    background-color: var(--background-color);
    color: var(--text-color);
    margin: auto;
    padding: 10px;

    input {
        border: none;
        border-radius: 0;
        font-family: "Open Sans", sans-serif;
        background-color: var(--background-color);
        color: var(--text-color);
        border-bottom: 2px solid var(--gray);
    }

    button {
        background-color: var(--background-color);
        color: var(--text-color);
        border: none;
        border-radius: 0;
    }
}

.modal-header {
    padding-bottom: 5px;
    border-bottom: solid 2px var(--gray);
    display: flex;
    justify-content: space-between;

    .modal-close {
        cursor: pointer;
    }
}

.modal-content {
    clear: both;
    padding: 10px;
    padding-top: 20px;
}